# Postgres connection (used by docker-compose and Rails)
POSTGRES_USER=mis
POSTGRES_PASSWORD=mis
POSTGRES_DB=mis_task_tracker_development
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Rails
RAILS_ENV=development
RAILS_MAX_THREADS=5
RAILS_LOG_TO_STDOUT=true
